{% extends 'layout.html' %}

{% block content %}
	<div class="">
        <form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="">
				<legend class="">Create Post</legend>

				<div class="">
					{{ form.post.label(class="") }}

					{% if form.post.errors%}
						{{ form.post(class="") }}
						<div class="">
							{% for error in form.post.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.post(class=" ") }}
					{% endif %}
				</div>

				<div class="">
					{{ form.caption.label(class="") }}

					{% if form.caption.errors%}
						{{ form.caption(class="") }}
						<div class="">
							{% for error in form.caption.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.caption(class=" ") }}
					{% endif %}
				</div>
			</fieldset>
			<div class="">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
	</div>
{% endblock content %}