{% extends 'layout.html' %}
	
{% block content %}
	<div class="form-box" style="border: 0.5em black solid">
        <h2>Create a New Post</h2>
        <form method="POST" enctype="multipart/form-data">
            {{form.hidden_tag()}}
            <div class="form-group">
                {{ form.post.label(class="form-control-label") }}
                {{ form.post(class="form-control-file") }}

                {% if form.post.errors%}
                    {{ form.post(class="") }}
                    <div class="">
                        {% for error in form.post.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.post(class=" ") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.caption.label(class="") }}

                {% if form.caption.errors%}
                    {{ form.caption(class="") }}
                    <div class="">
                        {% for error in form.caption.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.caption(class=" ") }}
                {% endif %}
            </div>

			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>

        </form>

        <div class="post-container">
            
        </div>
	</div>
{% endblock content %}