{% extends "layout.html" %}

{% block content %}
    <div class="profile-container">
        <div class="profile-card">
            <div class="wrapper">
                <div class="profile-photo">
                    <img src="{{ url_for('static', filename='' + user.profile_pic ) }}" alt="Profile Photo">
                </div>
            </div>
            <div class="profile-info">
                <h2>{{user.fullname}}</h2>
                <p>{{ user.bio }}</p>
                <p>Followings: {{ user.following_users|length }}</p>
                <p>Followers : {{ user.follower_users|length }}</p>
            </div>
        </div>

        {% if user == current_user %}
            <form action="{{ url_for('edit_profile') }}">
                <button type = "submit" class = "edit-profile" style="display: flex; width: 100%; justify-content: center; padding: 0.625em; background-color: white; border-color: #ddd;">Edit Profile</button>
            </form>
        {% endif %}

        <div class="image-container">
            {% for post in posts %}
            <div class="image-item">
                <img src="{{ url_for('static', filename='' + post.photo) }}" alt="Post Image">
                {% if user == current_user %}
                    <a id="editPostBtn" href="{{ url_for('edit_post', post_id = post.id) }}">📝</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
{%endblock%}